# dependencies
node_modules/

# build
dist/
build/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage/

# ide
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store

# prisma
prisma/generated/
